:root {
  --main-title-color: #212121;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--accent-color);
  margin-right: 94px;
}

.logo-header__right {
  color: #000000;
}

.header-list {
  display: flex;
}

.header-list__item {
  position: relative;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  display: block;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__link_current {
  color: var(--accent-color);
}

.header-list__link_current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #2196f3;
  border: 2px solid;
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__link-mail {
  margin-right: 50px;
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features .container {
  display: flex;
}

.features-list {
  display: flex;
}

.features-list__item:not(last-child) {
  margin-right: 30px;
}

.features-list__item::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-list__icon-first::before {
  background-image: url(../images/features/group-first.svg);
}

.features-list__icon-second::before {
  background-image: url(../images/features/group-second.svg);
}

.features-list__icon-third::before {
  background-image: url(../images/features/group-third.svg);
}

.features-list__icon-fourth::before {
  background-image: url(../images/features/group-fourth.svg);
}

.features-list__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.directions {
  padding-top: 0;
}

.directions-list {
  display: flex;
}

.directions__title {
  margin-bottom: 50px;
}

.directions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.directions-list__item {
  position: relative;
}

.directions-list__item:not(:last-child) {
  margin-right: 30px;
}

.directions-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  color: var(--secondary-text-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-list .team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team-img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img__text,
.team-img__title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-img__title {
  font-weight: 500;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-img__text {
  font-weight: 400;
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  margin: auto;
}

.clients-list__item {
  width: 170px;
  height: 92px;
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo__right {
  color: #ffffff;
}

.footer-address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-right: 70px;
}

.footer-address__link-map {
  color: #ffffff;
  display: flex;
  margin-bottom: 9px;
}

.footer-address__link-mail {
  display: flex;
  margin-bottom: 9px;
}

.footer-address__link-mail,
.footer-address__link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-center__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-center-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-center-list__item {
  width: 44px;
  height: 44px;
}

.footer-center-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-center-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-center-list__link:hover, .footer-center-list__link:focus {
  background-color: var(--accent-color);
}

.footer-center-list__icon {
  fill: #ffffff;
}

.footer-right {
  margin-left: 93px;
}

.footer-right-form__title {
  display: flex;
  align-items: center;
}

.footer-right-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-right__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 16px;
}

.footer-right__input:focus {
  border: 1px solid var(--accent-color);
}

.footer-right__btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right__btn:hover, .footer-right__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-right__icon {
  fill: var(--secondary-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal__btn-close {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .modal__icon-close,
.btn-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal-form {
  width: 448px;
  height: 342px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input:focus-within > .icon-contact {
  fill: var(--accent-color);
}

.form-input textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.form-input__text {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-text-color) 5;
  margin-bottom: 4px;
}

.form-input__icon-contact {
  position: absolute;
  left: 12px;
  bottom: 21px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__type {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__type:hover, .form-input__type:focus {
  border: 1px solid var(--accent-color);
}

textarea ::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-policy {
  margin-bottom: 30px;
}

.form-policy-checkbox:checked + .form-policy-checkbox__policy > .form-policy-checkbox__icon {
  background-color: var(--accent-color);
  border: transparent;
}

.form-policy-checkbox__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form-policy-checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy-checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy-checkbox__link:hover, .form-policy-checkbox__link:focus {
  color: #188ce8;
}

.form-policy__modal-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-policy__modal-btn:hover, .form-policy__modal-btn:focus {
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */