
.features-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
}

.features-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
}



.features-list__icon-first {
  &::before {
    background-image: url(../images/features/group-first.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.features-list__icon-second {
  &::before {
    background-image: url(../images/features/group-second.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.features-list__icon-third {
  &::before {
    background-image: url(../images/features/group-third.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.features-list__icon-fourth {
  &::before {
    background-image: url(../images/features/group-fourth.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.features-list__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}