.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.modal__btn-close {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 8px;
    right: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__icon-close {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .btn-close:hover &,
    .btn-close:focus & {
        fill: var(--accent-color)
    }
}

.modal-form {
    width: 448px;
    height: 342px;
    margin-left: 40px;
    margin-right: 40px;
}

.modal-form__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
    margin-top: 40px;
    margin-bottom: 12px;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
    &:focus-within > .icon-contact {
        fill: var(--accent-color);
    }
    & textarea {
        height: 120px;
        margin-bottom: 20px;
        padding: 12px 16px;
    }
}

.form-input__text {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--main-text-color)5;
    margin-bottom: 4px;
}

.form-input__icon-contact {
    position: absolute;
    left: 12px;
    bottom: 21px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__type {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    margin-bottom: 10px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

textarea {
    ::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-policy {
    margin-bottom: 30px;
} 

.form-policy-checkbox {
    &:checked + .form-policy-checkbox__policy > .form-policy-checkbox__icon {
        background-color: var(--accent-color);
        border: transparent;
    }
}

.form-policy-checkbox__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.form-policy-checkbox__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-policy-checkbox__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: #188ce8;
    }
}

.form-policy__modal-btn {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}

