:root {
      --main-title-color: #212121;
      --secondary-title-color: #212121;
      --accent-color: #2196f3;
      --main-text-color: #757575;
      --secondary-text-color: #ffffff;
    }

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
} 